<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <title>Google Books </title>
  </head>
  <body>
    <form action="/info">
      <label>
        What are you looking for:
        <input type="text" id="search" placeholder="Harry Potter" required></input>
      </label>
      <button id="getbook">Show Book Cover</button>
    </form>
  </body>
</html>
